body {
  margin: 0;
  font-family: 'Allerta Stencil', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/thimo.jpg');
  background-size: cover;
  color: white;
}
